/* 添加 拖拽时添加的样式*/
.ComponentAddBox {
  z-index: 999999;
}
/* 真正添加到画布上时添加的类*/
.ComponentBox {
  position: absolute;
}
/*组件外套的那层 div*/
.ComponentWidget {
  color: #ccc;
  position: absolute;
}
.ComponentWidgetInlineEdit {
  pointer-events: none;
  z-index:-1;
}

.ContextMenuWrapper{
  position:fixed;
  z-index: 999999;
  display: none;
  background-color: #fff;
}
.ContextMenuActive {
  display: block;
}
/* AutoComplete 不支持 style 属性，在画布上也不能直接设置行内样式，所以通过这种方式设置宽度 */
.ant-select-auto-complete {
  /* min-width: 200px; */
  width: 100%;
}